/*
따로 style.css 를 만들어서 link를 사용한다면 장점이
1. 1억애의 코드를 사용하고 있을때 하나의 수정사항이 있을때 훨씬 효율적이고
2. 캐쉬효과 때문에 저css파일을 우리는 컴퓨터 안에 자동으로 저장되어 있다가 다시 요청하면 저장된걸 사용하기
때문에 속도를 높일수 있고 사업자들은 돈을 덜 쓸 수 있다.(네트워크를 덜 쓰기때문에)
3. 가독성이 높아지고 유지 보수가 편리해진다. 그리고 누구든지 그 코드가 파일화되서 사용하기도 편리해진다.
*/
body{
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
ol{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1{
    border-bottom:none;
  }
}
